<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowSnapshotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowSnapshotter.Properties.Settings>
            <setting name="HotKeySave" serializeAs="String">
                <value>Ctrl+Alt+Shift+S</value>
            </setting>
            <setting name="HotKeyRestore" serializeAs="String">
                <value>Ctrl+Alt+Shift+R</value>
            </setting>
        </WindowSnapshotter.Properties.Settings>
    </userSettings>
</configuration>